<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.YYSchedule.store.mapper.JobBasicMapper" >
  <resultMap id="BaseResultMap" type="com.YYSchedule.common.mybatis.pojo.JobBasic" >
    <id column="job_id" property="jobId" jdbcType="BIGINT" />
    <result column="job_priority" property="jobPriority" jdbcType="CHAR" />
    <result column="task_phase" property="taskPhase" jdbcType="CHAR" />
    <result column="committed_time" property="committedTime" jdbcType="BIGINT" />
    <result column="task_num" property="taskNum" jdbcType="INTEGER" />
    <result column="finish_num" property="finishNum" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    job_id, job_priority, task_phase, committed_time, task_num, finish_num
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.YYSchedule.common.mybatis.pojo.JobBasicExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from job_basic
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from job_basic
    where job_id = #{jobId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from job_basic
    where job_id = #{jobId,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.YYSchedule.common.mybatis.pojo.JobBasicExample" >
    delete from job_basic
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.YYSchedule.common.mybatis.pojo.JobBasic" >
    insert into job_basic (job_id, job_priority, task_phase, 
      committed_time, task_num, finish_num
      )
    values (#{jobId,jdbcType=BIGINT}, #{jobPriority,jdbcType=CHAR}, #{taskPhase,jdbcType=CHAR}, 
      #{committedTime,jdbcType=BIGINT}, #{taskNum,jdbcType=INTEGER}, #{finishNum,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.YYSchedule.common.mybatis.pojo.JobBasic" >
    insert into job_basic
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="jobId != null" >
        job_id,
      </if>
      <if test="jobPriority != null" >
        job_priority,
      </if>
      <if test="taskPhase != null" >
        task_phase,
      </if>
      <if test="committedTime != null" >
        committed_time,
      </if>
      <if test="taskNum != null" >
        task_num,
      </if>
      <if test="finishNum != null" >
        finish_num,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="jobId != null" >
        #{jobId,jdbcType=BIGINT},
      </if>
      <if test="jobPriority != null" >
        #{jobPriority,jdbcType=CHAR},
      </if>
      <if test="taskPhase != null" >
        #{taskPhase,jdbcType=CHAR},
      </if>
      <if test="committedTime != null" >
        #{committedTime,jdbcType=BIGINT},
      </if>
      <if test="taskNum != null" >
        #{taskNum,jdbcType=INTEGER},
      </if>
      <if test="finishNum != null" >
        #{finishNum,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.YYSchedule.common.mybatis.pojo.JobBasicExample" resultType="java.lang.Integer" >
    select count(*) from job_basic
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update job_basic
    <set >
      <if test="record.jobId != null" >
        job_id = #{record.jobId,jdbcType=BIGINT},
      </if>
      <if test="record.jobPriority != null" >
        job_priority = #{record.jobPriority,jdbcType=CHAR},
      </if>
      <if test="record.taskPhase != null" >
        task_phase = #{record.taskPhase,jdbcType=CHAR},
      </if>
      <if test="record.committedTime != null" >
        committed_time = #{record.committedTime,jdbcType=BIGINT},
      </if>
      <if test="record.taskNum != null" >
        task_num = #{record.taskNum,jdbcType=INTEGER},
      </if>
      <if test="record.finishNum != null" >
        finish_num = #{record.finishNum,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update job_basic
    set job_id = #{record.jobId,jdbcType=BIGINT},
      job_priority = #{record.jobPriority,jdbcType=CHAR},
      task_phase = #{record.taskPhase,jdbcType=CHAR},
      committed_time = #{record.committedTime,jdbcType=BIGINT},
      task_num = #{record.taskNum,jdbcType=INTEGER},
      finish_num = #{record.finishNum,jdbcType=INTEGER}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.YYSchedule.common.mybatis.pojo.JobBasic" >
    update job_basic
    <set >
      <if test="jobPriority != null" >
        job_priority = #{jobPriority,jdbcType=CHAR},
      </if>
      <if test="taskPhase != null" >
        task_phase = #{taskPhase,jdbcType=CHAR},
      </if>
      <if test="committedTime != null" >
        committed_time = #{committedTime,jdbcType=BIGINT},
      </if>
      <if test="taskNum != null" >
        task_num = #{taskNum,jdbcType=INTEGER},
      </if>
      <if test="finishNum != null" >
        finish_num = #{finishNum,jdbcType=INTEGER},
      </if>
    </set>
    where job_id = #{jobId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.YYSchedule.common.mybatis.pojo.JobBasic" >
    update job_basic
    set job_priority = #{jobPriority,jdbcType=CHAR},
      task_phase = #{taskPhase,jdbcType=CHAR},
      committed_time = #{committedTime,jdbcType=BIGINT},
      task_num = #{taskNum,jdbcType=INTEGER},
      finish_num = #{finishNum,jdbcType=INTEGER}
    where job_id = #{jobId,jdbcType=BIGINT}
  </update>
</mapper>