<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.YYSchedule.store.mapper.JobStatusMapper" >
  <resultMap id="BaseResultMap" type="com.YYSchedule.common.mybatis.pojo.JobStatus" >
    <id column="job_id" property="jobId" jdbcType="BIGINT" />
    <result column="committed_time" property="committedTime" jdbcType="BIGINT" />
    <result column="task_num" property="taskNum" jdbcType="INTEGER" />
    <result column="job_status" property="jobStatus" jdbcType="DOUBLE" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    job_id, committed_time, task_num, job_status
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.YYSchedule.common.mybatis.pojo.JobStatusExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from job_status
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from job_status
    where job_id = #{jobId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from job_status
    where job_id = #{jobId,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.YYSchedule.common.mybatis.pojo.JobStatusExample" >
    delete from job_status
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.YYSchedule.common.mybatis.pojo.JobStatus" >
    insert into job_status (job_id, committed_time, task_num, 
      job_status)
    values (#{jobId,jdbcType=BIGINT}, #{committedTime,jdbcType=BIGINT}, #{taskNum,jdbcType=INTEGER}, 
      #{jobStatus,jdbcType=DOUBLE})
  </insert>
  <insert id="insertSelective" parameterType="com.YYSchedule.common.mybatis.pojo.JobStatus" >
    insert into job_status
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="jobId != null" >
        job_id,
      </if>
      <if test="committedTime != null" >
        committed_time,
      </if>
      <if test="taskNum != null" >
        task_num,
      </if>
      <if test="jobStatus != null" >
        job_status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="jobId != null" >
        #{jobId,jdbcType=BIGINT},
      </if>
      <if test="committedTime != null" >
        #{committedTime,jdbcType=BIGINT},
      </if>
      <if test="taskNum != null" >
        #{taskNum,jdbcType=INTEGER},
      </if>
      <if test="jobStatus != null" >
        #{jobStatus,jdbcType=DOUBLE},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.YYSchedule.common.mybatis.pojo.JobStatusExample" resultType="java.lang.Integer" >
    select count(*) from job_status
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update job_status
    <set >
      <if test="record.jobId != null" >
        job_id = #{record.jobId,jdbcType=BIGINT},
      </if>
      <if test="record.committedTime != null" >
        committed_time = #{record.committedTime,jdbcType=BIGINT},
      </if>
      <if test="record.taskNum != null" >
        task_num = #{record.taskNum,jdbcType=INTEGER},
      </if>
      <if test="record.jobStatus != null" >
        job_status = #{record.jobStatus,jdbcType=DOUBLE},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update job_status
    set job_id = #{record.jobId,jdbcType=BIGINT},
      committed_time = #{record.committedTime,jdbcType=BIGINT},
      task_num = #{record.taskNum,jdbcType=INTEGER},
      job_status = #{record.jobStatus,jdbcType=DOUBLE}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.YYSchedule.common.mybatis.pojo.JobStatus" >
    update job_status
    <set >
      <if test="committedTime != null" >
        committed_time = #{committedTime,jdbcType=BIGINT},
      </if>
      <if test="taskNum != null" >
        task_num = #{taskNum,jdbcType=INTEGER},
      </if>
      <if test="jobStatus != null" >
        job_status = #{jobStatus,jdbcType=DOUBLE},
      </if>
    </set>
    where job_id = #{jobId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.YYSchedule.common.mybatis.pojo.JobStatus" >
    update job_status
    set committed_time = #{committedTime,jdbcType=BIGINT},
      task_num = #{taskNum,jdbcType=INTEGER},
      job_status = #{jobStatus,jdbcType=DOUBLE}
    where job_id = #{jobId,jdbcType=BIGINT}
  </update>
</mapper>