<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.YYSchedule.store.mapper.JobStatusMapper">
  <resultMap id="BaseResultMap" type="com.YYSchedule.common.mybatis.pojo.JobStatus">
    <id column="job_id" jdbcType="INTEGER" property="jobId" />
    <result column="committed_time" jdbcType="DATE" property="committedTime" />
    <result column="task_num" jdbcType="INTEGER" property="taskNum" />
    <result column="job_status" jdbcType="DOUBLE" property="jobStatus" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    job_id, committed_time, task_num, job_status
  </sql>
  <select id="selectByExample" parameterType="com.YYSchedule.common.mybatis.pojo.JobStatusExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from job_status
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from job_status
    where job_id = #{jobId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from job_status
    where job_id = #{jobId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.YYSchedule.common.mybatis.pojo.JobStatusExample">
    delete from job_status
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.YYSchedule.common.mybatis.pojo.JobStatus">
    insert into job_status (job_id, committed_time, task_num, 
      job_status)
    values (#{jobId,jdbcType=INTEGER}, #{committedTime,jdbcType=DATE}, #{taskNum,jdbcType=INTEGER}, 
      #{jobStatus,jdbcType=DOUBLE})
  </insert>
  <insert id="insertSelective" parameterType="com.YYSchedule.common.mybatis.pojo.JobStatus">
    insert into job_status
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="jobId != null">
        job_id,
      </if>
      <if test="committedTime != null">
        committed_time,
      </if>
      <if test="taskNum != null">
        task_num,
      </if>
      <if test="jobStatus != null">
        job_status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="jobId != null">
        #{jobId,jdbcType=INTEGER},
      </if>
      <if test="committedTime != null">
        #{committedTime,jdbcType=DATE},
      </if>
      <if test="taskNum != null">
        #{taskNum,jdbcType=INTEGER},
      </if>
      <if test="jobStatus != null">
        #{jobStatus,jdbcType=DOUBLE},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.YYSchedule.common.mybatis.pojo.JobStatusExample" resultType="java.lang.Integer">
    select count(*) from job_status
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update job_status
    <set>
      <if test="record.jobId != null">
        job_id = #{record.jobId,jdbcType=INTEGER},
      </if>
      <if test="record.committedTime != null">
        committed_time = #{record.committedTime,jdbcType=DATE},
      </if>
      <if test="record.taskNum != null">
        task_num = #{record.taskNum,jdbcType=INTEGER},
      </if>
      <if test="record.jobStatus != null">
        job_status = #{record.jobStatus,jdbcType=DOUBLE},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update job_status
    set job_id = #{record.jobId,jdbcType=INTEGER},
      committed_time = #{record.committedTime,jdbcType=DATE},
      task_num = #{record.taskNum,jdbcType=INTEGER},
      job_status = #{record.jobStatus,jdbcType=DOUBLE}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.YYSchedule.common.mybatis.pojo.JobStatus">
    update job_status
    <set>
      <if test="committedTime != null">
        committed_time = #{committedTime,jdbcType=DATE},
      </if>
      <if test="taskNum != null">
        task_num = #{taskNum,jdbcType=INTEGER},
      </if>
      <if test="jobStatus != null">
        job_status = #{jobStatus,jdbcType=DOUBLE},
      </if>
    </set>
    where job_id = #{jobId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.YYSchedule.common.mybatis.pojo.JobStatus">
    update job_status
    set committed_time = #{committedTime,jdbcType=DATE},
      task_num = #{taskNum,jdbcType=INTEGER},
      job_status = #{jobStatus,jdbcType=DOUBLE}
    where job_id = #{jobId,jdbcType=INTEGER}
  </update>
  <resultMap id="BaseResultMap" type="com.YYSchedule.common.mybatis.pojo.JobStatus">
    <id column="job_id" jdbcType="INTEGER" property="jobId" />
    <result column="committed_time" jdbcType="DATE" property="committedTime" />
    <result column="task_num" jdbcType="INTEGER" property="taskNum" />
    <result column="job_status" jdbcType="DOUBLE" property="jobStatus" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    job_id, committed_time, task_num, job_status
  </sql>
  <select id="selectByExample" parameterType="com.YYSchedule.common.mybatis.pojo.JobStatusExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from job_status
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from job_status
    where job_id = #{jobId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from job_status
    where job_id = #{jobId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.YYSchedule.common.mybatis.pojo.JobStatusExample">
    delete from job_status
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.YYSchedule.common.mybatis.pojo.JobStatus">
    insert into job_status (job_id, committed_time, task_num, 
      job_status)
    values (#{jobId,jdbcType=INTEGER}, #{committedTime,jdbcType=DATE}, #{taskNum,jdbcType=INTEGER}, 
      #{jobStatus,jdbcType=DOUBLE})
  </insert>
  <insert id="insertSelective" parameterType="com.YYSchedule.common.mybatis.pojo.JobStatus">
    insert into job_status
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="jobId != null">
        job_id,
      </if>
      <if test="committedTime != null">
        committed_time,
      </if>
      <if test="taskNum != null">
        task_num,
      </if>
      <if test="jobStatus != null">
        job_status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="jobId != null">
        #{jobId,jdbcType=INTEGER},
      </if>
      <if test="committedTime != null">
        #{committedTime,jdbcType=DATE},
      </if>
      <if test="taskNum != null">
        #{taskNum,jdbcType=INTEGER},
      </if>
      <if test="jobStatus != null">
        #{jobStatus,jdbcType=DOUBLE},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.YYSchedule.common.mybatis.pojo.JobStatusExample" resultType="java.lang.Integer">
    select count(*) from job_status
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update job_status
    <set>
      <if test="record.jobId != null">
        job_id = #{record.jobId,jdbcType=INTEGER},
      </if>
      <if test="record.committedTime != null">
        committed_time = #{record.committedTime,jdbcType=DATE},
      </if>
      <if test="record.taskNum != null">
        task_num = #{record.taskNum,jdbcType=INTEGER},
      </if>
      <if test="record.jobStatus != null">
        job_status = #{record.jobStatus,jdbcType=DOUBLE},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update job_status
    set job_id = #{record.jobId,jdbcType=INTEGER},
      committed_time = #{record.committedTime,jdbcType=DATE},
      task_num = #{record.taskNum,jdbcType=INTEGER},
      job_status = #{record.jobStatus,jdbcType=DOUBLE}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.YYSchedule.common.mybatis.pojo.JobStatus">
    update job_status
    <set>
      <if test="committedTime != null">
        committed_time = #{committedTime,jdbcType=DATE},
      </if>
      <if test="taskNum != null">
        task_num = #{taskNum,jdbcType=INTEGER},
      </if>
      <if test="jobStatus != null">
        job_status = #{jobStatus,jdbcType=DOUBLE},
      </if>
    </set>
    where job_id = #{jobId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.YYSchedule.common.mybatis.pojo.JobStatus">
    update job_status
    set committed_time = #{committedTime,jdbcType=DATE},
      task_num = #{taskNum,jdbcType=INTEGER},
      job_status = #{jobStatus,jdbcType=DOUBLE}
    where job_id = #{jobId,jdbcType=INTEGER}
  </update>
  <resultMap id="BaseResultMap" type="com.YYSchedule.common.mybatis.pojo.JobStatus">
    <id column="job_id" jdbcType="INTEGER" property="jobId" />
    <result column="committed_time" jdbcType="DATE" property="committedTime" />
    <result column="task_num" jdbcType="INTEGER" property="taskNum" />
    <result column="job_status" jdbcType="DOUBLE" property="jobStatus" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    job_id, committed_time, task_num, job_status
  </sql>
  <select id="selectByExample" parameterType="com.YYSchedule.common.mybatis.pojo.JobStatusExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from job_status
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from job_status
    where job_id = #{jobId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from job_status
    where job_id = #{jobId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.YYSchedule.common.mybatis.pojo.JobStatusExample">
    delete from job_status
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.YYSchedule.common.mybatis.pojo.JobStatus">
    insert into job_status (job_id, committed_time, task_num, 
      job_status)
    values (#{jobId,jdbcType=INTEGER}, #{committedTime,jdbcType=DATE}, #{taskNum,jdbcType=INTEGER}, 
      #{jobStatus,jdbcType=DOUBLE})
  </insert>
  <insert id="insertSelective" parameterType="com.YYSchedule.common.mybatis.pojo.JobStatus">
    insert into job_status
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="jobId != null">
        job_id,
      </if>
      <if test="committedTime != null">
        committed_time,
      </if>
      <if test="taskNum != null">
        task_num,
      </if>
      <if test="jobStatus != null">
        job_status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="jobId != null">
        #{jobId,jdbcType=INTEGER},
      </if>
      <if test="committedTime != null">
        #{committedTime,jdbcType=DATE},
      </if>
      <if test="taskNum != null">
        #{taskNum,jdbcType=INTEGER},
      </if>
      <if test="jobStatus != null">
        #{jobStatus,jdbcType=DOUBLE},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.YYSchedule.common.mybatis.pojo.JobStatusExample" resultType="java.lang.Integer">
    select count(*) from job_status
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update job_status
    <set>
      <if test="record.jobId != null">
        job_id = #{record.jobId,jdbcType=INTEGER},
      </if>
      <if test="record.committedTime != null">
        committed_time = #{record.committedTime,jdbcType=DATE},
      </if>
      <if test="record.taskNum != null">
        task_num = #{record.taskNum,jdbcType=INTEGER},
      </if>
      <if test="record.jobStatus != null">
        job_status = #{record.jobStatus,jdbcType=DOUBLE},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update job_status
    set job_id = #{record.jobId,jdbcType=INTEGER},
      committed_time = #{record.committedTime,jdbcType=DATE},
      task_num = #{record.taskNum,jdbcType=INTEGER},
      job_status = #{record.jobStatus,jdbcType=DOUBLE}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.YYSchedule.common.mybatis.pojo.JobStatus">
    update job_status
    <set>
      <if test="committedTime != null">
        committed_time = #{committedTime,jdbcType=DATE},
      </if>
      <if test="taskNum != null">
        task_num = #{taskNum,jdbcType=INTEGER},
      </if>
      <if test="jobStatus != null">
        job_status = #{jobStatus,jdbcType=DOUBLE},
      </if>
    </set>
    where job_id = #{jobId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.YYSchedule.common.mybatis.pojo.JobStatus">
    update job_status
    set committed_time = #{committedTime,jdbcType=DATE},
      task_num = #{taskNum,jdbcType=INTEGER},
      job_status = #{jobStatus,jdbcType=DOUBLE}
    where job_id = #{jobId,jdbcType=INTEGER}
  </update>
  <resultMap id="BaseResultMap" type="com.YYSchedule.common.mybatis.pojo.JobStatus">
    <id column="job_id" jdbcType="INTEGER" property="jobId" />
    <result column="committed_time" jdbcType="DATE" property="committedTime" />
    <result column="task_num" jdbcType="INTEGER" property="taskNum" />
    <result column="job_status" jdbcType="DOUBLE" property="jobStatus" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    job_id, committed_time, task_num, job_status
  </sql>
  <select id="selectByExample" parameterType="com.YYSchedule.common.mybatis.pojo.JobStatusExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from job_status
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from job_status
    where job_id = #{jobId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from job_status
    where job_id = #{jobId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.YYSchedule.common.mybatis.pojo.JobStatusExample">
    delete from job_status
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.YYSchedule.common.mybatis.pojo.JobStatus">
    insert into job_status (job_id, committed_time, task_num, 
      job_status)
    values (#{jobId,jdbcType=INTEGER}, #{committedTime,jdbcType=DATE}, #{taskNum,jdbcType=INTEGER}, 
      #{jobStatus,jdbcType=DOUBLE})
  </insert>
  <insert id="insertSelective" parameterType="com.YYSchedule.common.mybatis.pojo.JobStatus">
    insert into job_status
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="jobId != null">
        job_id,
      </if>
      <if test="committedTime != null">
        committed_time,
      </if>
      <if test="taskNum != null">
        task_num,
      </if>
      <if test="jobStatus != null">
        job_status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="jobId != null">
        #{jobId,jdbcType=INTEGER},
      </if>
      <if test="committedTime != null">
        #{committedTime,jdbcType=DATE},
      </if>
      <if test="taskNum != null">
        #{taskNum,jdbcType=INTEGER},
      </if>
      <if test="jobStatus != null">
        #{jobStatus,jdbcType=DOUBLE},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.YYSchedule.common.mybatis.pojo.JobStatusExample" resultType="java.lang.Integer">
    select count(*) from job_status
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update job_status
    <set>
      <if test="record.jobId != null">
        job_id = #{record.jobId,jdbcType=INTEGER},
      </if>
      <if test="record.committedTime != null">
        committed_time = #{record.committedTime,jdbcType=DATE},
      </if>
      <if test="record.taskNum != null">
        task_num = #{record.taskNum,jdbcType=INTEGER},
      </if>
      <if test="record.jobStatus != null">
        job_status = #{record.jobStatus,jdbcType=DOUBLE},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update job_status
    set job_id = #{record.jobId,jdbcType=INTEGER},
      committed_time = #{record.committedTime,jdbcType=DATE},
      task_num = #{record.taskNum,jdbcType=INTEGER},
      job_status = #{record.jobStatus,jdbcType=DOUBLE}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.YYSchedule.common.mybatis.pojo.JobStatus">
    update job_status
    <set>
      <if test="committedTime != null">
        committed_time = #{committedTime,jdbcType=DATE},
      </if>
      <if test="taskNum != null">
        task_num = #{taskNum,jdbcType=INTEGER},
      </if>
      <if test="jobStatus != null">
        job_status = #{jobStatus,jdbcType=DOUBLE},
      </if>
    </set>
    where job_id = #{jobId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.YYSchedule.common.mybatis.pojo.JobStatus">
    update job_status
    set committed_time = #{committedTime,jdbcType=DATE},
      task_num = #{taskNum,jdbcType=INTEGER},
      job_status = #{jobStatus,jdbcType=DOUBLE}
    where job_id = #{jobId,jdbcType=INTEGER}
  </update>
</mapper>