<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.YYSchedule.store.mapper.TaskTimestampMapper" >
  <resultMap id="BaseResultMap" type="com.YYSchedule.common.mybatis.pojo.TaskTimestamp" >
    <id column="task_id" property="taskId" jdbcType="BIGINT" />
    <result column="loaded_time" property="loadedTime" jdbcType="BIGINT" />
    <result column="distributed_time" property="distributedTime" jdbcType="BIGINT" />
    <result column="started_time" property="startedTime" jdbcType="BIGINT" />
    <result column="finished_time" property="finishedTime" jdbcType="BIGINT" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    task_id, loaded_time, distributed_time, started_time, finished_time
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.YYSchedule.common.mybatis.pojo.TaskTimestampExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from task_timestamp
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from task_timestamp
    where task_id = #{taskId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from task_timestamp
    where task_id = #{taskId,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.YYSchedule.common.mybatis.pojo.TaskTimestampExample" >
    delete from task_timestamp
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.YYSchedule.common.mybatis.pojo.TaskTimestamp" >
    insert into task_timestamp (task_id, loaded_time, distributed_time, 
      started_time, finished_time)
    values (#{taskId,jdbcType=BIGINT}, #{loadedTime,jdbcType=BIGINT}, #{distributedTime,jdbcType=BIGINT}, 
      #{startedTime,jdbcType=BIGINT}, #{finishedTime,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="com.YYSchedule.common.mybatis.pojo.TaskTimestamp" >
    insert into task_timestamp
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="taskId != null" >
        task_id,
      </if>
      <if test="loadedTime != null" >
        loaded_time,
      </if>
      <if test="distributedTime != null" >
        distributed_time,
      </if>
      <if test="startedTime != null" >
        started_time,
      </if>
      <if test="finishedTime != null" >
        finished_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="taskId != null" >
        #{taskId,jdbcType=BIGINT},
      </if>
      <if test="loadedTime != null" >
        #{loadedTime,jdbcType=BIGINT},
      </if>
      <if test="distributedTime != null" >
        #{distributedTime,jdbcType=BIGINT},
      </if>
      <if test="startedTime != null" >
        #{startedTime,jdbcType=BIGINT},
      </if>
      <if test="finishedTime != null" >
        #{finishedTime,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.YYSchedule.common.mybatis.pojo.TaskTimestampExample" resultType="java.lang.Integer" >
    select count(*) from task_timestamp
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update task_timestamp
    <set >
      <if test="record.taskId != null" >
        task_id = #{record.taskId,jdbcType=BIGINT},
      </if>
      <if test="record.loadedTime != null" >
        loaded_time = #{record.loadedTime,jdbcType=BIGINT},
      </if>
      <if test="record.distributedTime != null" >
        distributed_time = #{record.distributedTime,jdbcType=BIGINT},
      </if>
      <if test="record.startedTime != null" >
        started_time = #{record.startedTime,jdbcType=BIGINT},
      </if>
      <if test="record.finishedTime != null" >
        finished_time = #{record.finishedTime,jdbcType=BIGINT},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update task_timestamp
    set task_id = #{record.taskId,jdbcType=BIGINT},
      loaded_time = #{record.loadedTime,jdbcType=BIGINT},
      distributed_time = #{record.distributedTime,jdbcType=BIGINT},
      started_time = #{record.startedTime,jdbcType=BIGINT},
      finished_time = #{record.finishedTime,jdbcType=BIGINT}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.YYSchedule.common.mybatis.pojo.TaskTimestamp" >
    update task_timestamp
    <set >
      <if test="loadedTime != null" >
        loaded_time = #{loadedTime,jdbcType=BIGINT},
      </if>
      <if test="distributedTime != null" >
        distributed_time = #{distributedTime,jdbcType=BIGINT},
      </if>
      <if test="startedTime != null" >
        started_time = #{startedTime,jdbcType=BIGINT},
      </if>
      <if test="finishedTime != null" >
        finished_time = #{finishedTime,jdbcType=BIGINT},
      </if>
    </set>
    where task_id = #{taskId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.YYSchedule.common.mybatis.pojo.TaskTimestamp" >
    update task_timestamp
    set loaded_time = #{loadedTime,jdbcType=BIGINT},
      distributed_time = #{distributedTime,jdbcType=BIGINT},
      started_time = #{startedTime,jdbcType=BIGINT},
      finished_time = #{finishedTime,jdbcType=BIGINT}
    where task_id = #{taskId,jdbcType=BIGINT}
  </update>
</mapper>