<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.binto.YYSchedule.storemanager.mapper.FileResourceMapper">
  <resultMap id="BaseResultMap" type="com.binto.YYSchedule.common.mybatis.pojo.FileResource">
    <id column="file_checksum" jdbcType="VARCHAR" property="fileChecksum" />
    <result column="file_path" jdbcType="VARCHAR" property="filePath" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    file_checksum, file_path
  </sql>
  <select id="selectByExample" parameterType="com.binto.YYSchedule.common.mybatis.pojo.FileResourceExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from file_resource
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from file_resource
    where file_checksum = #{fileChecksum,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from file_resource
    where file_checksum = #{fileChecksum,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.binto.YYSchedule.common.mybatis.pojo.FileResourceExample">
    delete from file_resource
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.binto.YYSchedule.common.mybatis.pojo.FileResource">
    insert into file_resource (file_checksum, file_path)
    values (#{fileChecksum,jdbcType=VARCHAR}, #{filePath,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.binto.YYSchedule.common.mybatis.pojo.FileResource">
    insert into file_resource
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="fileChecksum != null">
        file_checksum,
      </if>
      <if test="filePath != null">
        file_path,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="fileChecksum != null">
        #{fileChecksum,jdbcType=VARCHAR},
      </if>
      <if test="filePath != null">
        #{filePath,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.binto.YYSchedule.common.mybatis.pojo.FileResourceExample" resultType="java.lang.Integer">
    select count(*) from file_resource
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update file_resource
    <set>
      <if test="record.fileChecksum != null">
        file_checksum = #{record.fileChecksum,jdbcType=VARCHAR},
      </if>
      <if test="record.filePath != null">
        file_path = #{record.filePath,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update file_resource
    set file_checksum = #{record.fileChecksum,jdbcType=VARCHAR},
      file_path = #{record.filePath,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.binto.YYSchedule.common.mybatis.pojo.FileResource">
    update file_resource
    <set>
      <if test="filePath != null">
        file_path = #{filePath,jdbcType=VARCHAR},
      </if>
    </set>
    where file_checksum = #{fileChecksum,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.binto.YYSchedule.common.mybatis.pojo.FileResource">
    update file_resource
    set file_path = #{filePath,jdbcType=VARCHAR}
    where file_checksum = #{fileChecksum,jdbcType=VARCHAR}
  </update>
  <resultMap id="BaseResultMap" type="com.binto.YYSchedule.common.mybatis.pojo.FileResource">
    <id column="file_checksum" jdbcType="VARCHAR" property="fileChecksum" />
    <result column="file_path" jdbcType="VARCHAR" property="filePath" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    file_checksum, file_path
  </sql>
  <select id="selectByExample" parameterType="com.binto.YYSchedule.common.mybatis.pojo.FileResourceExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from file_resource
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from file_resource
    where file_checksum = #{fileChecksum,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from file_resource
    where file_checksum = #{fileChecksum,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.binto.YYSchedule.common.mybatis.pojo.FileResourceExample">
    delete from file_resource
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.binto.YYSchedule.common.mybatis.pojo.FileResource">
    insert into file_resource (file_checksum, file_path)
    values (#{fileChecksum,jdbcType=VARCHAR}, #{filePath,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.binto.YYSchedule.common.mybatis.pojo.FileResource">
    insert into file_resource
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="fileChecksum != null">
        file_checksum,
      </if>
      <if test="filePath != null">
        file_path,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="fileChecksum != null">
        #{fileChecksum,jdbcType=VARCHAR},
      </if>
      <if test="filePath != null">
        #{filePath,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.binto.YYSchedule.common.mybatis.pojo.FileResourceExample" resultType="java.lang.Integer">
    select count(*) from file_resource
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update file_resource
    <set>
      <if test="record.fileChecksum != null">
        file_checksum = #{record.fileChecksum,jdbcType=VARCHAR},
      </if>
      <if test="record.filePath != null">
        file_path = #{record.filePath,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update file_resource
    set file_checksum = #{record.fileChecksum,jdbcType=VARCHAR},
      file_path = #{record.filePath,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.binto.YYSchedule.common.mybatis.pojo.FileResource">
    update file_resource
    <set>
      <if test="filePath != null">
        file_path = #{filePath,jdbcType=VARCHAR},
      </if>
    </set>
    where file_checksum = #{fileChecksum,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.binto.YYSchedule.common.mybatis.pojo.FileResource">
    update file_resource
    set file_path = #{filePath,jdbcType=VARCHAR}
    where file_checksum = #{fileChecksum,jdbcType=VARCHAR}
  </update>
  <resultMap id="BaseResultMap" type="com.binto.YYSchedule.common.pojo.FileResource">
    <id column="file_checksum" jdbcType="VARCHAR" property="fileChecksum" />
    <result column="file_path" jdbcType="VARCHAR" property="filePath" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    file_checksum, file_path
  </sql>
  <select id="selectByExample" parameterType="com.binto.YYSchedule.common.pojo.FileResourceExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from file_resource
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from file_resource
    where file_checksum = #{fileChecksum,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from file_resource
    where file_checksum = #{fileChecksum,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.binto.YYSchedule.common.pojo.FileResourceExample">
    delete from file_resource
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.binto.YYSchedule.common.pojo.FileResource">
    insert into file_resource (file_checksum, file_path)
    values (#{fileChecksum,jdbcType=VARCHAR}, #{filePath,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.binto.YYSchedule.common.pojo.FileResource">
    insert into file_resource
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="fileChecksum != null">
        file_checksum,
      </if>
      <if test="filePath != null">
        file_path,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="fileChecksum != null">
        #{fileChecksum,jdbcType=VARCHAR},
      </if>
      <if test="filePath != null">
        #{filePath,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.binto.YYSchedule.common.pojo.FileResourceExample" resultType="java.lang.Integer">
    select count(*) from file_resource
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update file_resource
    <set>
      <if test="record.fileChecksum != null">
        file_checksum = #{record.fileChecksum,jdbcType=VARCHAR},
      </if>
      <if test="record.filePath != null">
        file_path = #{record.filePath,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update file_resource
    set file_checksum = #{record.fileChecksum,jdbcType=VARCHAR},
      file_path = #{record.filePath,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.binto.YYSchedule.common.pojo.FileResource">
    update file_resource
    <set>
      <if test="filePath != null">
        file_path = #{filePath,jdbcType=VARCHAR},
      </if>
    </set>
    where file_checksum = #{fileChecksum,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.binto.YYSchedule.common.pojo.FileResource">
    update file_resource
    set file_path = #{filePath,jdbcType=VARCHAR}
    where file_checksum = #{fileChecksum,jdbcType=VARCHAR}
  </update>
</mapper>