<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.binto.YYSchedule.storemanager.mapper.TaskTimestampMapper">
  <resultMap id="BaseResultMap" type="com.binto.YYSchedule.common.mybatis.pojo.TaskTimestamp">
    <id column="task_id" jdbcType="INTEGER" property="taskId" />
    <result column="task_phase" jdbcType="CHAR" property="taskPhase" />
    <result column="loaded_time" jdbcType="DATE" property="loadedTime" />
    <result column="issued_time" jdbcType="DATE" property="issuedTime" />
    <result column="started_time" jdbcType="DATE" property="startedTime" />
    <result column="finished_time" jdbcType="DATE" property="finishedTime" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    task_id, task_phase, loaded_time, issued_time, started_time, finished_time
  </sql>
  <select id="selectByExample" parameterType="com.binto.YYSchedule.common.mybatis.pojo.TaskTimestampExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from task_timestamp
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from task_timestamp
    where task_id = #{taskId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from task_timestamp
    where task_id = #{taskId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.binto.YYSchedule.common.mybatis.pojo.TaskTimestampExample">
    delete from task_timestamp
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.binto.YYSchedule.common.mybatis.pojo.TaskTimestamp">
    insert into task_timestamp (task_id, task_phase, loaded_time, 
      issued_time, started_time, finished_time
      )
    values (#{taskId,jdbcType=INTEGER}, #{taskPhase,jdbcType=CHAR}, #{loadedTime,jdbcType=DATE}, 
      #{issuedTime,jdbcType=DATE}, #{startedTime,jdbcType=DATE}, #{finishedTime,jdbcType=DATE}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.binto.YYSchedule.common.mybatis.pojo.TaskTimestamp">
    insert into task_timestamp
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="taskId != null">
        task_id,
      </if>
      <if test="taskPhase != null">
        task_phase,
      </if>
      <if test="loadedTime != null">
        loaded_time,
      </if>
      <if test="issuedTime != null">
        issued_time,
      </if>
      <if test="startedTime != null">
        started_time,
      </if>
      <if test="finishedTime != null">
        finished_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="taskId != null">
        #{taskId,jdbcType=INTEGER},
      </if>
      <if test="taskPhase != null">
        #{taskPhase,jdbcType=CHAR},
      </if>
      <if test="loadedTime != null">
        #{loadedTime,jdbcType=DATE},
      </if>
      <if test="issuedTime != null">
        #{issuedTime,jdbcType=DATE},
      </if>
      <if test="startedTime != null">
        #{startedTime,jdbcType=DATE},
      </if>
      <if test="finishedTime != null">
        #{finishedTime,jdbcType=DATE},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.binto.YYSchedule.common.mybatis.pojo.TaskTimestampExample" resultType="java.lang.Integer">
    select count(*) from task_timestamp
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update task_timestamp
    <set>
      <if test="record.taskId != null">
        task_id = #{record.taskId,jdbcType=INTEGER},
      </if>
      <if test="record.taskPhase != null">
        task_phase = #{record.taskPhase,jdbcType=CHAR},
      </if>
      <if test="record.loadedTime != null">
        loaded_time = #{record.loadedTime,jdbcType=DATE},
      </if>
      <if test="record.issuedTime != null">
        issued_time = #{record.issuedTime,jdbcType=DATE},
      </if>
      <if test="record.startedTime != null">
        started_time = #{record.startedTime,jdbcType=DATE},
      </if>
      <if test="record.finishedTime != null">
        finished_time = #{record.finishedTime,jdbcType=DATE},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update task_timestamp
    set task_id = #{record.taskId,jdbcType=INTEGER},
      task_phase = #{record.taskPhase,jdbcType=CHAR},
      loaded_time = #{record.loadedTime,jdbcType=DATE},
      issued_time = #{record.issuedTime,jdbcType=DATE},
      started_time = #{record.startedTime,jdbcType=DATE},
      finished_time = #{record.finishedTime,jdbcType=DATE}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.binto.YYSchedule.common.mybatis.pojo.TaskTimestamp">
    update task_timestamp
    <set>
      <if test="taskPhase != null">
        task_phase = #{taskPhase,jdbcType=CHAR},
      </if>
      <if test="loadedTime != null">
        loaded_time = #{loadedTime,jdbcType=DATE},
      </if>
      <if test="issuedTime != null">
        issued_time = #{issuedTime,jdbcType=DATE},
      </if>
      <if test="startedTime != null">
        started_time = #{startedTime,jdbcType=DATE},
      </if>
      <if test="finishedTime != null">
        finished_time = #{finishedTime,jdbcType=DATE},
      </if>
    </set>
    where task_id = #{taskId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.binto.YYSchedule.common.mybatis.pojo.TaskTimestamp">
    update task_timestamp
    set task_phase = #{taskPhase,jdbcType=CHAR},
      loaded_time = #{loadedTime,jdbcType=DATE},
      issued_time = #{issuedTime,jdbcType=DATE},
      started_time = #{startedTime,jdbcType=DATE},
      finished_time = #{finishedTime,jdbcType=DATE}
    where task_id = #{taskId,jdbcType=INTEGER}
  </update>
  <resultMap id="BaseResultMap" type="com.binto.YYSchedule.common.mybatis.pojo.TaskTimestamp">
    <id column="task_id" jdbcType="INTEGER" property="taskId" />
    <result column="task_phase" jdbcType="CHAR" property="taskPhase" />
    <result column="loaded_time" jdbcType="DATE" property="loadedTime" />
    <result column="issued_time" jdbcType="DATE" property="issuedTime" />
    <result column="started_time" jdbcType="DATE" property="startedTime" />
    <result column="finished_time" jdbcType="DATE" property="finishedTime" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    task_id, task_phase, loaded_time, issued_time, started_time, finished_time
  </sql>
  <select id="selectByExample" parameterType="com.binto.YYSchedule.common.mybatis.pojo.TaskTimestampExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from task_timestamp
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from task_timestamp
    where task_id = #{taskId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from task_timestamp
    where task_id = #{taskId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.binto.YYSchedule.common.mybatis.pojo.TaskTimestampExample">
    delete from task_timestamp
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.binto.YYSchedule.common.mybatis.pojo.TaskTimestamp">
    insert into task_timestamp (task_id, task_phase, loaded_time, 
      issued_time, started_time, finished_time
      )
    values (#{taskId,jdbcType=INTEGER}, #{taskPhase,jdbcType=CHAR}, #{loadedTime,jdbcType=DATE}, 
      #{issuedTime,jdbcType=DATE}, #{startedTime,jdbcType=DATE}, #{finishedTime,jdbcType=DATE}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.binto.YYSchedule.common.mybatis.pojo.TaskTimestamp">
    insert into task_timestamp
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="taskId != null">
        task_id,
      </if>
      <if test="taskPhase != null">
        task_phase,
      </if>
      <if test="loadedTime != null">
        loaded_time,
      </if>
      <if test="issuedTime != null">
        issued_time,
      </if>
      <if test="startedTime != null">
        started_time,
      </if>
      <if test="finishedTime != null">
        finished_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="taskId != null">
        #{taskId,jdbcType=INTEGER},
      </if>
      <if test="taskPhase != null">
        #{taskPhase,jdbcType=CHAR},
      </if>
      <if test="loadedTime != null">
        #{loadedTime,jdbcType=DATE},
      </if>
      <if test="issuedTime != null">
        #{issuedTime,jdbcType=DATE},
      </if>
      <if test="startedTime != null">
        #{startedTime,jdbcType=DATE},
      </if>
      <if test="finishedTime != null">
        #{finishedTime,jdbcType=DATE},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.binto.YYSchedule.common.mybatis.pojo.TaskTimestampExample" resultType="java.lang.Integer">
    select count(*) from task_timestamp
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update task_timestamp
    <set>
      <if test="record.taskId != null">
        task_id = #{record.taskId,jdbcType=INTEGER},
      </if>
      <if test="record.taskPhase != null">
        task_phase = #{record.taskPhase,jdbcType=CHAR},
      </if>
      <if test="record.loadedTime != null">
        loaded_time = #{record.loadedTime,jdbcType=DATE},
      </if>
      <if test="record.issuedTime != null">
        issued_time = #{record.issuedTime,jdbcType=DATE},
      </if>
      <if test="record.startedTime != null">
        started_time = #{record.startedTime,jdbcType=DATE},
      </if>
      <if test="record.finishedTime != null">
        finished_time = #{record.finishedTime,jdbcType=DATE},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update task_timestamp
    set task_id = #{record.taskId,jdbcType=INTEGER},
      task_phase = #{record.taskPhase,jdbcType=CHAR},
      loaded_time = #{record.loadedTime,jdbcType=DATE},
      issued_time = #{record.issuedTime,jdbcType=DATE},
      started_time = #{record.startedTime,jdbcType=DATE},
      finished_time = #{record.finishedTime,jdbcType=DATE}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.binto.YYSchedule.common.mybatis.pojo.TaskTimestamp">
    update task_timestamp
    <set>
      <if test="taskPhase != null">
        task_phase = #{taskPhase,jdbcType=CHAR},
      </if>
      <if test="loadedTime != null">
        loaded_time = #{loadedTime,jdbcType=DATE},
      </if>
      <if test="issuedTime != null">
        issued_time = #{issuedTime,jdbcType=DATE},
      </if>
      <if test="startedTime != null">
        started_time = #{startedTime,jdbcType=DATE},
      </if>
      <if test="finishedTime != null">
        finished_time = #{finishedTime,jdbcType=DATE},
      </if>
    </set>
    where task_id = #{taskId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.binto.YYSchedule.common.mybatis.pojo.TaskTimestamp">
    update task_timestamp
    set task_phase = #{taskPhase,jdbcType=CHAR},
      loaded_time = #{loadedTime,jdbcType=DATE},
      issued_time = #{issuedTime,jdbcType=DATE},
      started_time = #{startedTime,jdbcType=DATE},
      finished_time = #{finishedTime,jdbcType=DATE}
    where task_id = #{taskId,jdbcType=INTEGER}
  </update>
  <resultMap id="BaseResultMap" type="com.binto.YYSchedule.common.pojo.TaskTimestamp">
    <id column="task_id" jdbcType="INTEGER" property="taskId" />
    <result column="task_phase" jdbcType="CHAR" property="taskPhase" />
    <result column="loaded_time" jdbcType="DATE" property="loadedTime" />
    <result column="issued_time" jdbcType="DATE" property="issuedTime" />
    <result column="started_time" jdbcType="DATE" property="startedTime" />
    <result column="finished_time" jdbcType="DATE" property="finishedTime" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    task_id, task_phase, loaded_time, issued_time, started_time, finished_time
  </sql>
  <select id="selectByExample" parameterType="com.binto.YYSchedule.common.pojo.TaskTimestampExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from task_timestamp
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from task_timestamp
    where task_id = #{taskId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from task_timestamp
    where task_id = #{taskId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.binto.YYSchedule.common.pojo.TaskTimestampExample">
    delete from task_timestamp
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.binto.YYSchedule.common.pojo.TaskTimestamp">
    insert into task_timestamp (task_id, task_phase, loaded_time, 
      issued_time, started_time, finished_time
      )
    values (#{taskId,jdbcType=INTEGER}, #{taskPhase,jdbcType=CHAR}, #{loadedTime,jdbcType=DATE}, 
      #{issuedTime,jdbcType=DATE}, #{startedTime,jdbcType=DATE}, #{finishedTime,jdbcType=DATE}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.binto.YYSchedule.common.pojo.TaskTimestamp">
    insert into task_timestamp
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="taskId != null">
        task_id,
      </if>
      <if test="taskPhase != null">
        task_phase,
      </if>
      <if test="loadedTime != null">
        loaded_time,
      </if>
      <if test="issuedTime != null">
        issued_time,
      </if>
      <if test="startedTime != null">
        started_time,
      </if>
      <if test="finishedTime != null">
        finished_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="taskId != null">
        #{taskId,jdbcType=INTEGER},
      </if>
      <if test="taskPhase != null">
        #{taskPhase,jdbcType=CHAR},
      </if>
      <if test="loadedTime != null">
        #{loadedTime,jdbcType=DATE},
      </if>
      <if test="issuedTime != null">
        #{issuedTime,jdbcType=DATE},
      </if>
      <if test="startedTime != null">
        #{startedTime,jdbcType=DATE},
      </if>
      <if test="finishedTime != null">
        #{finishedTime,jdbcType=DATE},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.binto.YYSchedule.common.pojo.TaskTimestampExample" resultType="java.lang.Integer">
    select count(*) from task_timestamp
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update task_timestamp
    <set>
      <if test="record.taskId != null">
        task_id = #{record.taskId,jdbcType=INTEGER},
      </if>
      <if test="record.taskPhase != null">
        task_phase = #{record.taskPhase,jdbcType=CHAR},
      </if>
      <if test="record.loadedTime != null">
        loaded_time = #{record.loadedTime,jdbcType=DATE},
      </if>
      <if test="record.issuedTime != null">
        issued_time = #{record.issuedTime,jdbcType=DATE},
      </if>
      <if test="record.startedTime != null">
        started_time = #{record.startedTime,jdbcType=DATE},
      </if>
      <if test="record.finishedTime != null">
        finished_time = #{record.finishedTime,jdbcType=DATE},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update task_timestamp
    set task_id = #{record.taskId,jdbcType=INTEGER},
      task_phase = #{record.taskPhase,jdbcType=CHAR},
      loaded_time = #{record.loadedTime,jdbcType=DATE},
      issued_time = #{record.issuedTime,jdbcType=DATE},
      started_time = #{record.startedTime,jdbcType=DATE},
      finished_time = #{record.finishedTime,jdbcType=DATE}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.binto.YYSchedule.common.pojo.TaskTimestamp">
    update task_timestamp
    <set>
      <if test="taskPhase != null">
        task_phase = #{taskPhase,jdbcType=CHAR},
      </if>
      <if test="loadedTime != null">
        loaded_time = #{loadedTime,jdbcType=DATE},
      </if>
      <if test="issuedTime != null">
        issued_time = #{issuedTime,jdbcType=DATE},
      </if>
      <if test="startedTime != null">
        started_time = #{startedTime,jdbcType=DATE},
      </if>
      <if test="finishedTime != null">
        finished_time = #{finishedTime,jdbcType=DATE},
      </if>
    </set>
    where task_id = #{taskId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.binto.YYSchedule.common.pojo.TaskTimestamp">
    update task_timestamp
    set task_phase = #{taskPhase,jdbcType=CHAR},
      loaded_time = #{loadedTime,jdbcType=DATE},
      issued_time = #{issuedTime,jdbcType=DATE},
      started_time = #{startedTime,jdbcType=DATE},
      finished_time = #{finishedTime,jdbcType=DATE}
    where task_id = #{taskId,jdbcType=INTEGER}
  </update>
</mapper>